<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="w-full mb-10 h-[80px] flex items-center justify-between bg-black w-[1080px] px-20 rounded-sm ">
      
        <h1 class="text-white">BOOK STORE</h1> 
        <li class=" flex gap-5 text-white">
        <a class="text-white" href="/">Home</a>
        <a class="text-white" href="/E-book">E-book</a>
        <a class="text-white" href="/About">About</a>
        </li>
    </nav>
    
    