<%- include("partials/header.ejs") %>

    <div class="w-full h-[400px] over-hidden relative">
        <div class="text-wite w-[500px] h-[500px] ml-[500px] py-[150px] ">
        <h1 class=" font-bold text-2xl py-5  text-center">Lorem-ipsum.</h1>
        <p class="mt-5">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Facere itaque adipisci debitis unde temporibus nesciunt doloribus 
            officiis neque quo laborum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, nesciunt.
        </p>
        <button class="w-[150px] h-10 text-white rounded-md mx-[175px] bg-black my-10 cursor-pointer">explore</button>
    </div>
    </div>
    <%- include("partials/footer") %>